
.cote_gauche{
    min-height: 900px;
    max-height: 1200px;
    width: 450px;
    float: left;
    

}


body{
    background: beige;
}
.photo img{
    margin-left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.info span{
    color: black;
    margin-left: 15px;
     
}
.info h2{
    color: blue;
    text-transform: uppercase;

}
.info h3{
    margin-left: 25px;
    color: green;
}